{% extends "woolleyMain/base_generic.html" %}

{% block content %}

{% if news_text_list %}

<div class = "panel-group">
	{% for news in news_text_list %}
		<div class = "panel panel-default container-fluid">
			<div class = "panel-heading row">
				<div class="col-md"><h5 class="panel-title">{{ news.header }}</h5></div>
				<div class="col-md text-right">{{ news.date }}</div>
			</div>
			<div class = "panel panel-body">{{ news.text }}</div>
		</div>
	<br>
	{% endfor %}
</div>



{% else %}
	<p>Nothing new!</p>
{% endif %}

<div class="jumbotron text" style="margin-bottom:0">
	<!-- {% if mission_statement %}
		<h3>Our Mission</h3>
		<p>{{ mission_statement.0.text }}</p>
	{% else %}
		<p>No mission!</p>
	{% endif %} -->
	<h3>Our Mission</h3>
	<p>We study the neural basis and behavior of social communication - how the encoding of songs by neurons and circuits in the songbird brain is related to perception and behavior.</p>
</div>

{% endblock %}